/* body */
body {
  background-color: #EDD0D0;
}

/* text */
h1 {
  color: #A18782;
  font-family: Arial, sans-serif;
}

a {
  color: #E1D0E2;
}

/* STYLE NAV BAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #B95C50;
  background-color: #B95C50;
}

li {
  float: left;
}

li a {
  display: block;
  color: #DEB3AD;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #DE847B;
}

li a.active {
  color: #DEB3AD;
}

/* footer */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #A18782;
   color: #EDD0D0;
   text-align: center;
}
