/* body */
body {
  background-color: #EDD0D0;
}

/* text */
h1 {
  color: #A18782;
  font-family: Arial, sans-serif;
}

a {
  color: #E1D0E2;
}

/* top nav */
.topnav {
  background-color: #E7B9BC;
  overflow: hidden;
}

/* top nav links */
.topnav a {
  float: left;
  display: block;
  color: #EDD0D0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px #A18782;
}

.topnav a.active {
  border-bottom: 3px #A18782;
}

/* footer */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #A18782;
   color: #EDD0D0;
   text-align: center;
}
